.LandingPage {
  flex: 1;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .middle {
    display: flex;
    align-items: center;
  }
  .wordmark {
    font-size: 2.4rem;
  }
  .nav-link {
    color: #f9f9f9;
    text-decoration: none;
  }
}
