@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Projects {
  display: flex;
  flex-direction: column;
  width: 1600px;
  max-height: 100vh;
  color: #3c4042; }
  .Projects .card-container {
    margin: 0.625rem;
    background-color: #319fd9; }

@media screen and (max-width: 1634px) {
  .Projects {
    width: 1280px; } }

@media screen and (max-width: 1334px) {
  .Projects {
    width: 960px; } }

@media screen and (max-width: 1014px) {
  .Projects {
    width: 640px; } }

@media screen and (max-width: 480px) {
  .Projects {
    width: 320px;
    margin: 5px; } }
