@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Blogs {
  display: flex;
  flex-direction: column;
  @include width(160);
  max-height: 100vh;
  color: $neutral-dark;
  .card-container {
    @include margin(1);
    background-color: $accent-color-light;
  }
}

@media screen and (max-width: 1634px) {
  .Blogs {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .Blogs {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .Blogs {
    @include width(64);
  }
}