@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Blogs {
  display: flex;
  flex-direction: column;
  width: 1600px;
  max-height: 100vh;
  color: #3c4042; }
  .Blogs .card-container {
    margin: 0.625rem;
    background-color: #319fd9; }

@media screen and (max-width: 1634px) {
  .Blogs {
    width: 1280px; } }

@media screen and (max-width: 1334px) {
  .Blogs {
    width: 960px; } }

@media screen and (max-width: 1014px) {
  .Blogs {
    width: 640px; } }

@media screen and (max-width: 695px) {
  .Blogs {
    width: 320px; } }
