@import './variables.scss';
@mixin height($height) {
  height: convertRem($height);
}

// Boxsizing to REMs
@mixin maxHeight($maxHeight) {
  max-height: convertRem($maxHeight);
}

@mixin maxWidth($maxWidth) {
  max-width: convertRem($maxWidth);
}

@mixin width($width) {
  width: convertRem($width);
}

@mixin margin($margin) {
  margin: convertRem($margin);
}

@mixin padding($padding) {
  padding: convertRem($padding);
}

@mixin top($top) {
  top: convertRem($top);
}

@mixin right($right) {
  right: convertRem($right);
}

@mixin bottom($bottom) {
  bottom: convertRem($bottom);
}

@mixin left($left) {
  left: convertRem($left);
}

@function convertRem($size) {
  $remSize: $size * 0.625;
  @return #{$remSize}rem;
}

//Button Styling
@mixin button() {
  @include width(8);
  @include padding(1);
  border: 1px solid $accent-color-light;
  color: $snow;
  text-align: center;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

@mixin buttonHover () {
  border: 1px solid $snow;
  background-color: $snow;
  color: $accent-color-light;
  transition: 0.5s ease-in-out;
}

@mixin activeButton() {
  cursor: default;
}

// Content Page Styling
@mixin contentHeader() {
}

@mixin contentImage() {
}

@mixin contentDetailTitle() {
}

@mixin contentDetailBody() {
}

// Image Styling
@mixin parallaxImage() {
  background: {
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

@mixin largeWordmarkLogo() {
}

@mixin horizontalWordmarkLogo() {
  @include height(5);
  @include width(35.7);
  @include margin(1);
  background: {
    size: contain;
    repeat: no-repeat;
  }
}

@mixin icon() {
  @include width(3);
  @include height(3);
  background: {
    repeat: no-repeat;
    size: contain;
  }
}

// Transitions
@mixin component-entering {
  opacity: 0;
  transform: translate(0, -100%);
}

@mixin component-enter-active {
  opacity: 1;
  transform: translate(0, 50%);
}

@mixin component-exiting {
  opacity: 1;
  transform: translate(0, -50%);
}

@mixin component-exit-active {
  opacity: 0;
  transform: translate(0, 500%);
}

@mixin component-transition {
  transition: 1s cubic-bezier(0.78, 0.07, 0.35, 1);
}
