@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//Typography
$main-font: 'Open Sans', Arial, sans-serif;
//Colors
$accent-color-dark: rgb(77, 114, 152);
$accent-color-light: rgb(49, 159, 217);
$accent-color-extra-light: rgb(236, 246, 251);
$neutral-dark: rgb(60, 64, 66);
$neutral-light: rgb(125, 133, 137);
$snow: rgb(249, 249, 249);
//Borders

// Box Styling

