@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//Typography
$main-font: 'Open Sans', Arial, sans-serif;
//Colors
$accent-color-dark: rgb(77, 114, 152);
$accent-color-light: rgb(154, 188, 237);
$snow: rgb(249, 249, 249);
//Borders

// Box Styling

