@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100vh;
  margin: auto;
  background-color: #319fd9;
  color: #f9f9f9; }
