@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.Links {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include width(160);
  .wrapper {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    .header-wordmark {
      @include horizontalWordmarkLogo;
      background-image: url('../../images/Wordmark-horizontal.png');
    }
    .nav-link {
      align-self: baseline;
      @include button;
      &:hover {
        @include buttonHover;
      }
    }
    .nav-link-top:hover {
      transform: translate(0, -3px);
    }
  }
  .link-wrapper {
    display: flex;
    @include padding(5);
    .icon {
      @include width(10);
      @include padding(1);
      fill: $neutral-dark;
      transition: 0.5s ease-in-out;
      &:hover {
        fill: $snow;
        transform: translate(0, -3px);
        transition: 0.5s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1634px) {
  .Links {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .Links {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .Links {
    @include width(64);
  }
}

@media screen and (max-width: 694px) {
  .Links {
    @include width(32);
  }
}
