@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';
.About {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  color: $neutral-dark;
  @include width(160);
}
.info-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.top-container {
  display: flex;
}
.profile-image {
  @include height(50);
  @include width(40);
}
.profile-description-container {
  @include padding(2);
}
.description-header {
  font-size: 1.8rem;
  text-decoration: underline;
}
.profile-description {
  @include maxWidth(55);
  text-indent: 1rem;
  line-height: 150%;
}
.questions {
  color: $neutral-light;
  font-style: italic;
  list-style: none;
  line-height: 150%;
}
.link-wrapper {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: baseline;
  justify-content: center;
  @include padding(5);
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.link-box {
  display: flex;
}
.icon {
  @include width(10);
  @include padding(1);
  fill: $neutral-dark;
  transition: 0.5s ease-in-out;
  &:hover {
    fill: $accent-color-light;
    transform: translate(0, -3px);
    transition: 0.5s ease-in-out;
  }
}
.icon-text {
  @include width(8);
  @include padding(1);
  color: $neutral-dark;
  text-align: center;
}

@media screen and (max-width: 1634px) {
  .About {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .About {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .About {
    height: fit-content;
    @include width(64);
  }
  .top-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .About {
    width: 320px;
    margin: 5px;
  }
  .info-container {
    margin: unset;
  }
  .profile-image {
    width: 310px;
    height: 387.5px;
  }
  .link-wrapper {
    flex-direction: column;
    padding: 0;
    align-self: center;
  }
  ul {
    padding-inline-start: 5px;
  }
  li {
    margin-bottom: 5px;
  }
}
