@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.About {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  color: #3c4042;
  width: 100rem; }

.info-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto; }

.top-container {
  display: flex; }

.profile-image {
  height: 31.25rem;
  width: 25rem; }

.profile-description-container {
  padding: 1.25rem; }

.description-header {
  font-size: 1.8rem;
  text-decoration: underline; }

.profile-description {
  max-width: 34.375rem;
  text-indent: 1rem;
  line-height: 150%; }

.questions {
  color: #7d8589;
  font-style: italic;
  list-style: none;
  line-height: 150%; }

.link-wrapper {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 3.125rem; }

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; }

.link-box {
  display: flex; }

.icon {
  width: 6.25rem;
  padding: 0.625rem;
  fill: #3c4042;
  transition: 0.5s ease-in-out; }
  .icon:hover {
    fill: #319fd9;
    transform: translate(0, -3px);
    transition: 0.5s ease-in-out; }

.icon-text {
  width: 5rem;
  padding: 0.625rem;
  color: #3c4042;
  text-align: center; }

@media screen and (max-width: 1634px) {
  .About {
    width: 80rem; } }

@media screen and (max-width: 1334px) {
  .About {
    width: 60rem; } }

@media screen and (max-width: 1014px) {
  .About {
    height: fit-content;
    width: 40rem; }
  .top-container {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .About {
    width: 320px;
    margin: 5px; }
  .info-container {
    margin: unset; }
  .profile-image {
    width: 310px;
    height: 387.5px; }
  .link-wrapper {
    flex-direction: column;
    padding: 0;
    align-self: center; }
  li {
    margin-bottom: 5px; } }
