@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.Card {
  display: flex;
  flex-direction: column;
  background-color: $accent-color-extra-light;
  color: $neutral-dark;
  .project-image {
    align-self: center;
    @include width(156);
    margin-bottom: 20px;
  }
  .blog-image {
    @include width(155.5);
    margin-bottom: 20px;
  }
  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .view-details {
      @include buttonAlternate;
      @include width(10);
      @include margin(1);
      &:hover {
        @include buttonHoverAlternate;
      }
    }
  }
  .content-container {
    height: 0;
    max-height: 0;
    @include padding(1);
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    &.show {
      height: initial;
      max-height: initial;
      padding-bottom: 50px;
      opacity: 1;
    }
    .description-box, .area-of-focus-box, .tech-stack-box {
      display: flex;
      flex-direction: column;
      .description-header, .area-of-focus-header, .tech-stack-header {
        margin: 0;
        font-size: 1.2rem;
        text-decoration: underline;
      }
      .description, .area-of-focus, .tech-stack {
        @include padding(1);
      }
    }
    .button-wrapper {
      display: flex;
      @include padding(1);
      .button {
        margin-right: 10px;
        @include buttonAlternate;
        &:hover {
          @include buttonHoverAlternate;
        }
      }
    }
  }
  .url {
    display: flex;
    flex-direction: column;
    color: $neutral-dark;
    text-decoration: none;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: $accent-color-light;
    }
  }
  .title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1634px) {
  .Card .project-image {
    @include width(124);
  }
  .Card .blog-image {
    @include width(123.5);
  }
}

@media screen and (max-width: 1334px) {
  .Card .project-image {
    @include width(92);
  }
  .Card .blog-image {
    @include width(91.5);
  }
}

@media screen and (max-width: 1014px) {
  .Card .project-image {
    @include width(60);
  }
  .Card .blog-image {
    @include width(59.5);
  }
}

@media screen and (max-width: 694px) {
  .Card .project-image {
    @include width(28);
  }
  .Card .blog-image {
    @include width(27.5);
  }
}
