@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  background-color: #ecf6fb;
  color: #3c4042; }
  .Card .project-image {
    width: 97.5rem;
    margin-bottom: 20px; }
  .Card .blog-image {
    width: 97.1875rem;
    margin-bottom: 20px; }
  .Card .view-details {
    width: 5rem;
    padding: 0.625rem;
    border-bottom: 1px solid #319fd9;
    color: #319fd9;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: 9.375rem; }
    .Card .view-details:hover {
      border-bottom: 1px solid #319fd9;
      background-color: #319fd9;
      color: #f9f9f9;
      transition: 0.5s ease-in-out; }
  .Card .content-container {
    height: auto;
    max-height: none;
    padding: 0.625rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 1; }
    .Card .content-container .description-box, .Card .content-container .area-of-focus-box, .Card .content-container .tech-stack-box {
      display: flex;
      flex-direction: column; }
      .Card .content-container .description-box .description-header, .Card .content-container .description-box .area-of-focus-header, .Card .content-container .description-box .tech-stack-header, .Card .content-container .area-of-focus-box .description-header, .Card .content-container .area-of-focus-box .area-of-focus-header, .Card .content-container .area-of-focus-box .tech-stack-header, .Card .content-container .tech-stack-box .description-header, .Card .content-container .tech-stack-box .area-of-focus-header, .Card .content-container .tech-stack-box .tech-stack-header {
        margin: 0;
        font-size: 1.2rem;
        text-decoration: underline; }
      .Card .content-container .description-box .description, .Card .content-container .description-box .area-of-focus, .Card .content-container .description-box .tech-stack, .Card .content-container .area-of-focus-box .description, .Card .content-container .area-of-focus-box .area-of-focus, .Card .content-container .area-of-focus-box .tech-stack, .Card .content-container .tech-stack-box .description, .Card .content-container .tech-stack-box .area-of-focus, .Card .content-container .tech-stack-box .tech-stack {
        padding: 0.625rem; }
    .Card .content-container .button-wrapper {
      display: flex;
      padding: 0.625rem; }
      .Card .content-container .button-wrapper .button {
        margin-right: 10px;
        width: 5rem;
        padding: 0.625rem;
        border-bottom: 1px solid #319fd9;
        color: #319fd9;
        text-align: center;
        text-decoration: none;
        transition: 0.5s ease-in-out; }
        .Card .content-container .button-wrapper .button:hover {
          border-bottom: 1px solid #319fd9;
          background-color: #319fd9;
          color: #f9f9f9;
          transition: 0.5s ease-in-out; }
  .Card .hidden {
    height: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0; }
  .Card .url {
    display: flex;
    flex-direction: column;
    color: #3c4042;
    text-decoration: none;
    transition: 0.2s color ease-in-out; }
    .Card .url:hover {
      color: #319fd9; }
  .Card .title {
    font-size: 2.4rem; }

@media screen and (max-width: 1634px) {
  .Card .project-image {
    width: 77.5rem; }
  .Card .blog-image {
    width: 77.1875rem; } }

@media screen and (max-width: 1334px) {
  .Card .project-image {
    width: 57.5rem; }
  .Card .blog-image {
    width: 57.1875rem; } }

@media screen and (max-width: 1014px) {
  .Card .project-image {
    width: 37.5rem; }
  .Card .blog-image {
    width: 37.1875rem; } }

@media screen and (max-width: 694px) {
  .Card .project-image {
    width: 17.5rem; }
  .Card .blog-image {
    width: 17.1875rem; } }
