@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Card {
  padding: 0.625rem; }
  .Card .url {
    display: flex;
    flex-direction: column;
    color: #f9f9f9;
    text-decoration: none; }
  .Card .wrapper {
    display: flex;
    flex-direction: column; }
    .Card .wrapper .button {
      width: 5rem;
      padding: 0.625rem;
      border: 1px solid #319fd9;
      color: #f9f9f9;
      text-align: center;
      text-decoration: none;
      transition: 0.5s ease-in-out; }
      .Card .wrapper .button:hover {
        border: 1px solid #f9f9f9;
        background-color: #f9f9f9;
        color: #319fd9;
        transition: 0.5s ease-in-out; }
  .Card .title {
    font-size: 1.8rem; }
