@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.Contact {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include width(160);
  .wrapper {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    min-height: 63.5px;
    .header-wordmark {
      @include horizontalWordmarkLogo;
      background-image: url('../../images/Wordmark-horizontal-blue.png');
    }
    .nav-bar {
      display: flex;
      .nav-link {
        align-self: baseline;
        margin-left: 10px;
        @include buttonAlternate;
        &:hover {
          @include buttonHoverAlternate;
        }
      }
    }
  }
  .link-wrapper {
    align-self: stretch;
    flex: 1;
    display: flex;
    justify-content: center;
    @include padding(5);
    .icon {
      @include width(10);
      @include padding(1);
      fill: $neutral-dark;
      transition: 0.5s ease-in-out;
      &:hover {
        fill: $accent-color-light;
        transform: translate(0, -3px);
        transition: 0.5s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1634px) {
  .Contact {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .Contact {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .Contact {
    @include width(64);
  }
}

@media screen and (max-width: 694px) {
  .Contact {
    @include width(32);
  }
}
